@import url('https://fonts.googleapis.com/css2?family=Lora:wght@400;700&family=Poppins:wght@300;400;700&family=Nunito:wght@300;400;600;700&display=swap');
/* Reset styles */

@font-face {
  font-family: 'Gotham';
  src: url('fonts/Gotham-Light.woff2') format('woff2'),
       url('fonts/Gotham-Light.woff') format('woff');
  font-weight: 300; /* Light */
  font-style: normal;
}

@font-face {
  font-family: 'Gotham';
  src: url('fonts/Gotham-Medium.woff2') format('woff2'),
       url('fonts/Gotham-Medium.woff') format('woff');
  font-weight: 500; /* Medium */
  font-style: normal;
}

@font-face {
  font-family: 'Gotham';
  src: url('fonts/Gotham-Bold.woff2') format('woff2'),
       url('fonts/Gotham-Bold.woff') format('woff');
  font-weight: 700; /* Bold */
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  background-color: #e5e5e5 ;
  flex-direction: column;
  margin: 0;
  padding: 0;
  overflow-x: hidden; 
}

a {
  text-decoration: none;
  color: inherit;
}

.h2-menu {
margin-top: 10px;
color: #451400;
}

#index-page {
  display: flex;
  flex-direction: column;
  min-height: 100vh; 
  margin: 0;
  padding: 0;
}

#index-page {
  flex: 1; 
}

/* Hero Section (Index Page) */
.hero {
  position: relative;
  height: 100vh;
  width: 100%;
  overflow: hidden;
}

.hero video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
}

.hero-overlay {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  background: rgba(0, 0, 0, 0.5);
  padding: 20px;
  border-radius: 10px;
}

.hero-logo {
  width: 150px;
  margin-bottom: 20px;
  filter: invert(1) brightness(2); /* Inverts and brightens the image */
}

.hero-title {
  font-size: 2.5rem;
  font-family: 'Gotham', sans-serif;
  margin-bottom: 10px;
  color: white;
}

.hero-subtitle {
  font-size: 1.2rem;
  margin-bottom: 20px;
  color: rgb(221, 216, 216);
}

.hero-button {
  background: #FDB833 !important;
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
  font-weight: bold;
  transition: background 0.3s;
}

.hero-button:hover {
  background:#451400 !important;
}

/* cards for menu Page */

.about-section {
  text-align: center;
  padding: 40px 20px;
  background:#e5e5e5 ;
}

.menu-about-section {
  text-align: center;
  padding: 40px 20px;
  background:#070707 ;
}

.menu-section-title {
  font-size: 2rem;
  margin-bottom: 20px;
  font-family: 'Gotham', sans-serif;
  color: #ffffff;
}

.animated-section {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  white-space: nowrap;
  height: 50px; /* Adjust height if needed */
}

#animated-text {
  font-size: 2rem;
  font-family: 'Gotham', sans-serif;
  color: #ffffff;
  animation: slideIn 5s linear infinite;
  display: inline-block;
  white-space: nowrap;
}

@keyframes slideIn {
  0% {
    transform: translateX(100%);
  }
  50% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-100%);
  }
}

.menu-cards-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
}

.menu-card {
  background: rgb(255, 255, 255);
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  max-width: 300px;
  padding: 20px;
  text-align: center;
  transition: transform 0.3s;
}

.menu-card img {
  width: 100%;
  border-radius: 10px;
  margin-bottom: 15px;
}

.menu-card h3 {
  font-size: 1.5rem;
  font-family: 'Gotham', sans-serif;
  color: #d64406;
  margin-bottom: 10px;
}

.menu-card p {
  font-size: 1rem;
  line-height: 1.5;
}

.menu-card:hover {
  transform: scale(1.05);
}

.section-title {
  font-size: 2rem;
  margin-bottom: 20px;
  font-family: 'Gotham', sans-serif;
  color: #451400;
}

.cards-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
}

.card {
  background: rgb(255, 255, 255);
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  max-width: 300px;
  padding: 20px;
  text-align: center;
  transition: transform 0.3s;
}

.card img {
  width: 100%;
  border-radius: 10px;
  margin-bottom: 15px;
}

.card h3 {
  font-size: 1.5rem;
  font-family: 'Gotham', sans-serif;
  color: #d64406;
  margin-bottom: 10px;
}

.card p {
  font-size: 1rem;
  font-family: 'Gotham', sans-serif;
  line-height: 1.5;
}

.card:hover {
  transform: scale(1.05);
}




.logos-container {
  display: flex; 
  flex-direction: row; /* Force horizontal alignment */
  justify-content: center; 
  align-items: center; 
  gap: 20px; 
  flex-wrap: wrap; /* Ensure wrapping on smaller screens if needed */
}

.logos-container a img {
  width: 40px; 
  height: 40px;
  transition: transform 0.3s ease; 
}

.logos-container a img:hover {
  transform: scale(1.1); 
}

address, article, aside, div, header, hgroup, main, nav, section {
  display: block;
}

.main-container {
  display: flex;
  flex-direction: column; 
  min-height: 100vh;
  gap: 20px; 
  align-items: flex-start;
  width: 100%;
  padding: 20px;
}

.content-container {
  flex: 1;
}

.info-container {
  width: 50%; 
  padding: 20px;
}


.gallery-section, .video-container, .overlay{
 flex: 1;
}

video {
  width: 100%;
  height: auto;
  object-fit: cover;
  filter: none;
  opacity: 1;
  display: block;
}

.logo {
  width: 300px;
  margin-bottom: 10px;
  filter: brightness(0) invert(1);
}

/*footer design */
#index-footer {
  margin-top: auto;
  background: #FDB833!important; /* Footer background */
  color: white;
  text-align: center;
  padding: 10px 0; /* Minimal padding */
  width: 100%;
  display: flex; /* Flexbox for horizontal alignment */
  flex-direction: column; /* Stack footer content vertically */
  align-items: center; /* Center everything horizontally */
}

#index-footer a {
  display: inline-block; 
  text-decoration: none; 
}

#index-footer img {
  pointer-events: auto; 
}

#index-page footer {
  margin-top: auto; 
  padding: 20px 10px;
  text-align: center;
  width: 100%;
}

#index-page .pfooter {
  font-size: 0.8rem;
  font-family: 'Gotham', sans-serif;
  color: white;
  margin-top: 10px;
  line-height: 1.5;
  text-align: center;
}

.footer-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  justify-content: center;
}

.pfooter {
  font-size: 0.9rem;
    font-family: 'Gotham', sans-serif;
  color: #333;
  margin-top: 10px;
}

.logos-container {
  display: flex; 
  flex-direction: row; /* Force horizontal alignment */
  justify-content: center; 
  align-items: center; 
  gap: 20px; 
  flex-wrap: wrap; /* Ensure wrapping on smaller screens if needed */
}

.logos-container a img {
  width: 40px; 
  height: 40px;
  transition: transform 0.3s ease; 
}

.badge {
  display: block; /* Keeps badge as its own line */
  margin-top: 10px; 
  width: 80px; 
  height: auto;
}
/*end of footer design */

.adressbackground {
  margin: 0;
  padding: 0;
  background: linear-gradient(
      rgba(255, 255, 255, 0), 
      rgba(255, 255, 255, 0)
    ),
    url("images/banner.jpg") no-repeat center center fixed;
  background-size: cover; 
  background-attachment: fixed; 
  height: 80%; 
}


@keyframes dropVegetable {
  0% {
    transform: translateX(-50%) translateY(-100px); 
    opacity: 0.6;
  }
  50% {
    opacity: 1;
    transform: translateX(-50%) translateY(20px); 
  }
  100% {
    opacity: 0;
    transform: translateX(-50%) translateY(100px); 
  }
}

.parent-container {
  display: flex;
  flex-direction: row; 
  justify-content: flex-start; 
  align-items: flex-start; 
  margin: 0 auto; 
  width: 100%; 
  max-width: 1200px; 
  gap: 20px; 
  padding: 20px;
}

.sidebar {
  flex: 0 0 200px; 
  display: flex;
  flex-direction: column; 
  align-items: center;
  gap: 10px;
  padding: 10px;
}

.sidebar a {
  display: block;
  text-decoration: none;
  font-family: 'Gotham', sans-serif;
  font-size: 0.9em;
  color: #451400;
  padding: 7px 12px;
  border-radius: 20px;
  background-color: rgba(255, 255, 255, 0.7);
  border: 2px solid #1d1c1b;
  font-weight: bold;
  text-align: center;
  transition: all 0.3s ease;
}

.sidebar a:hover {
  background-color: #451400;
  color: white;
  border: 2px solid transparent;
  transform: scale(1.05);
}

.horizontal-menu {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding: 15px;
  margin-bottom: 20px;
  background-color: #f8f8f8;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.menu-category {
  display: none;
}

/* Show the active category */
.menu-category.active {
  display: block;
}

.menu-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px; /* Space between icon and text */
  padding: 12px 25px;
  background:#FDB833;
  border: none;
  border-radius: 30px; /* Rounded corners */
  font-size: 1rem;
  font-weight: bold;
  font-family: 'Gotham', sans-serif;
  color: #FFFFFF; /* White text */
  text-transform: uppercase;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.menu-btn i {
  font-size: 1.2rem; /* Icon size */
}

.menu-btn:hover {
  background: #451400;
  transform: translateY(-2px) scale(1.05); /* Slight upward movement and zoom effect */
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.2);
}

.menu-btn:active {
  transform: translateY(0);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}


.menu-container {
  display: block !important; /* Ensure visibility */
  flex: 1; 
  max-width: 1200px; 
  margin-left: 0; 
  margin-right: 0; 
  padding: 20px;
  background-color: #e5e5e5  !important;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  align-self: flex-start; 
}


.category-header h2 {
  font-size: 1.8em;
  font-family: 'Gotham', sans-serif;
  color: #451400;
  text-align: center;
  border-bottom: 2px solid #d26d47;
  padding-bottom: 10px;
  margin-bottom: 20px;
}

.menu-item {
  margin-bottom: 20px;
  border-bottom: 1px solid #ccc;
  padding-bottom: 15px;
}

.menu-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu-title .title {
  font-size: 1.2em;
  font-family: 'Gotham', sans-serif;
  color: #451400;
}

.menu-title .price {
  font-size: 1.1em;
  font-family: 'Gotham', sans-serif;
  color: #a63426;
}

.description {
  font-size: 0.95em;
  font-family: 'Gotham', sans-serif;
  line-height: 1.6;
  color: #555;
  margin-top: 10px;
  text-align: left;
}

.info-box-container {
  position: fixed;
  right: 160px;
  top: 200px;
  display: block;
  flex-direction: column;
  gap: 30px;
  z-index: 1000;
}

.info-box:hover {
  transform: scale(1.03);
  box-shadow: 0 15px 35px rgba(0, 0, 0, 0.3), inset 0 -1px 0 rgba(255, 255, 255, 0.6);
  background-color: #451400;
  -webkit-text-fill-color: #f0eceb;
}

.location-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

.location-title {
  font-size: 3.5rem;
  font-family: 'Gotham', sans-serif;
  color: #ffffff;
  margin-bottom: 30px;
  text-align: left;
}

.content-container {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  align-items: flex-start;
}

.location-card {
  flex: 1;
  background-color: #050505;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(255, 252, 252, 0.1);
  margin-bottom: 20px;
  padding: 15px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.location-card:hover {
  transform: scale(1.03);
  box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
}

.dropdown-toggle {
  font-family:'Gotham', sans-serif;
  font-size: 1.2rem;
  font-weight: bold;
  color: #ffffff;
  background: none;
  border: none;
  text-align: left;
  width: 100%;
  cursor: pointer;
  padding: 10px;
  border-bottom: 1px solid #ddd;
  transition: color 0.3s ease;
}

.dropdown-toggle:hover {
  color:none;
}

.dropdown-content {
  display: none;
  padding: 10px 0;
  font-size: 0.9rem;
  font-family: 'Gotham', sans-serif;
  color: #451400;
}

.address,
.phone {
  margin: 5px 0;
}

.direction-link {
  display: inline-block;
  margin-top: 10px;
  padding: 8px 12px;
  background-color: #565252;
  color: rgb(251, 251, 251);
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.direction-link:hover {
  background-color: #451400;
  transform: scale(1.05);
}

#map {
  width: 50%; 
  height: 500px; 
}

.custom-marker {
  background-color: #ff6347; 
  color: white; 
  padding: 5px 10px; 
  border-radius: 5px; 
  font-weight: bold; 
  font-family: 'Gotham', sans-serif;
  text-align: center; 
  white-space: nowrap; 
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3); 
}

.toggle-bar {
  display: block;
  position: fixed;
  top: 10px;
  left: 10px;
  background: #FDB833;
  color: white;
  padding: 10px 15px;
  border-radius: 0 10px 10px 0;
  cursor: pointer;
  z-index: 10000; 
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.sidebar-menu .dropdown-button {
  display: block;
  font-size: 0.8rem; 
  font-family: 'Gotham', sans-serif;
  padding: 15px; 
  margin-bottom: 12px;
  border-radius: 4px; 
  text-align: left; 
  width: 100%; 
  background-color: #FDB833 !important; 
  color: black; 
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.sidebar-menu .dropdown-button:hover {
  background-color: #6b2a00 !important; 
  transform: scale(1.02); 
  color: white 
}

.sidebar-menu .dropdown-menu {
  display: none; 
}

.sidebar-menu .dropdown-item {
  text-align: left;
  font-size: 0.75rem; 
  font-family: 'Gotham', sans-serif;
  padding: 6px 8px; 
  margin: 2px 0; 
  color: #451400 !important;
  text-decoration: none;
  background-color: #451400;
  transition: background-color 0.3s ease;
}


.sidebar-menu .dropdown-button + .dropdown-menu {
  margin-top: 5px; 
  border-top: 1px solid rgba(255, 255, 255, 0.2); 
}

.sidebar-menu {
  position: fixed;
  margin-top: 60px;
  top: 0;
  left: 0;
  width: 250px; 
  height: 100%;
  background-color: transparent; 
  color: black;
  transform: translateX(-100%); 
  transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
  opacity: 0; 
  z-index: 1000;
  overflow-y: auto; 
}

.sidebar-menu.active {
  opacity: 1;
  transform: translateX(0); 
}

.no-scroll {
  overflow: hidden; 
}

body.no-scroll {
  overflow: hidden; 
}

.sidebar-menu .dropdown-menu.active {
  display: block; 
}

.sidebar-menu a {
  display: block;
  font-size: 1rem;
  font-family:'Gotham', sans-serif;
  font-weight: bold;
  width: 250px;
  background-color: #FDB833 !important;
  color: black;
  text-align: left;
  text-decoration: none;
  padding: 15px 10px;
  margin-bottom: 10px;
  border-radius: 5px;
}

.sidebar-menu a:hover {
  background:  #451400;
  transform: scale(1.05); 
}

#index-page .sidebar-menu a[href="index.html"] {
  display: none;
}


.back-to-top {
  position: fixed; 
  bottom: 20px; 
  right: 20px; 
  display: none; 
  font-size: 2rem;
  font-family: 'Gotham', sans-serif;
  color: #ffffff;
  background-color: #f3aa22 !important; 
  text-decoration: none;
  padding: 8px 10px;
  border-radius: 50%; 
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
  transition: transform 0.2s ease, opacity 0.3s ease;
  z-index: 1000; 
}

.back-to-top:hover {
  background-color: #090909;
  transform: scale(1.1); 
  z-index: 1000; 
}

#reserver-dropdown .dropdown-item,
#commander-dropdown .dropdown-item {
  margin-bottom: 8px; 
  padding: 15px; 
  border-radius: 5px; 
}

#reserver-dropdown .dropdown-item:last-child,
#commander-dropdown .dropdown-item:last-child {
  margin-bottom: 0;
}

.dropdown-item {
  padding: 10px;
  margin: 5px 0;
  border-radius: 5px;
  text-decoration: none;
  display: block;
  transition: background-color 0.3s ease;
}

.dropdown-item:hover {
  opacity: 0.9;
}

#reserver-dropdown .dropdown-item:hover,
#commander-dropdown .dropdown-item:hover {
  background-color: #451400;
  transition: background-color 0.3s ease, color 0.3s ease; 
}

.top-right-logo {
  position: absolute;
  top: 10px; 
  right: 10px; 
  z-index: 1000; 
}

.top-right-logo img {
  width: 200px; 
  height: auto; 
  filter: brightness(0) invert(1); 
  transition: transform 0.3s ease; 
}

.top-right-logo img:hover {
  transform: scale(1.1); 
}

.hidden {
  display: none !important;
}

.gallery-section {
  text-align: center;
  margin-top: 50px; /* Adds space above the gallery */
  padding: 40px 20px;
  background-color: #e5e5e5;
  font-family: 'gotham', sans-serif;
  font-weight: bold;
}

.gallery-title {
  font-size: 2rem;
  font-family: 'Gotham', sans-serif;
  color: #451400;
  margin-bottom: 10px;
  font-family: 'Gotham', Arial, sans-serif;
}

.gallery-description {
  margin-top: Opx;
  font-size: 1rem;
  font-family: 'Gotham', sans-serif;
  color:#451400;
  margin-bottom: 30px;
  line-height: 1.6;
}

.photo-gallery {
  display: flex;
  overflow-x: auto; /* Enable horizontal scrolling */
  scroll-snap-type: x mandatory;
  gap: 10px; /* Spacing between images */
  white-space: nowrap; /* Prevent wrapping */
  -ms-overflow-style: none;  /* Hide scrollbar for Internet Explorer and Edge */
  scrollbar-width: none;     /* Hide scrollbar for Firefox */
}

.gallery-item {
  width: 250px; /* Adjust as needed */
  height: 250px; /* Equal to width for a perfect circle */
  overflow: hidden; /* Ensures no overflow beyond the circle */
  display: flex; 
  justify-content: center; 
  align-items: center; 
  background-color: transparent; /* Transparent background */
  border-radius: 50%; /* Round the container itself */
}

.gallery-item img {
  width: 90%; /* Slightly smaller to create space for the white border */
  height: 90%; /* Maintain aspect ratio */
  object-fit: cover;
  border-radius: 50%; /* Makes the image round */
  border: 2px solid #FDB833; /* White border around the image */ 
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2); /* Optional: Shadow effect for depth */
}

.gallery-item:hover img {
  transform: scale(1.05); /* Zoom in effect */
  transition: transform 0.3s ease;
}
.photo-gallery::-webkit-scrollbar {
  display: none;
}

.photo-gallery::-webkit-scrollbar-track {
  background: #f1f1f1;
}

.photo-gallery::-webkit-scrollbar-thumb {
  background: #cfcfcf;
  border-radius: 10px;
}

.photo-gallery::-webkit-scrollbar-thumb:hover {
  background: #b1b1b1;
}

.caption {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  color: #fff;
  text-align: center;
  font-size: 0.9rem;
  font-family: 'Gotham', sans-serif;
  padding: 5px 0;
  opacity: 0.8;
}

.gallery-item:hover .caption {
  opacity: 0.8;
}

@media (min-width: 1024px) {
  .menu-container {
    display: block; /* Ensure it's a block container */
    max-width: 1200px; /* Set a maximum width for the container */
    margin: 0 auto; /* Center horizontally */
    padding: 20px;
    background-color: #e5e5e5; /* Optional: Keep your existing background color */
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }

}
@media (min-width: 769px) {
  .gallery-section {
    display: none !important; /* Ensure it's hidden on larger screens */
  }
}

@media (max-width: 768px) {

  body {
    display: flex;
    flex-direction: column;
    min-height: 100vh; 
    margin: 0;
  }
 
  .hero-title {
    font-size: 2rem;
  }

  .hero-subtitle {
    font-size: 1rem;
  }

  .cards-container {
    flex-direction: column;
    align-items: center;
  }

  .card {
    max-width: 90%;
  }

  .photo-gallery {
    gap: 10px;
  }

  .gallery-item {
    width: 150px;
    height: 150px;
  }

   .home-button-container .button, .sidebar a {
    font-size: 0.8rem;
    font-family: 'Gotham', sans-serif;
    padding: 8px 12px;
    flex-direction: column; 
    align-items: center; 
    gap: 10px; 
    margin-bottom: 20px;
    box-shadow: none;
  }

  #map {
    flex: 1; 
    width: 50%; 
    height: 500px; 
    min-height: 200px; 
    margin-bottom: 20px; 
  }

  .custom-marker {
    background-color: #ff6347; 
    color: white; 
    padding: 5px 10px; 
    border-radius: 5px; 
    font-weight: bold; 
    text-align: center; 
    white-space: nowrap; 
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3); 
  }

  .location-container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
  }

  .location-title {
    margin-top: 60px;
    font-family: 'Gotham', sans-serif;
    font-size: 3rem;
    color: #451400 !important;
    margin-bottom: 20px;
    text-align: left;
  }

  .content-container {
    display: flex; 
    flex-wrap: nowrap; 
    gap: 20px; 
    align-items: flex-start; 
  }

  .location-card {
    flex: 1; 
    background-color: #f3aa22; 
    color: #451400; 
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2); 
    padding: 15px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
  }

  .location-card:hover {
    transform: scale(1.03);
    box-shadow: 0 8px 12px #121111;
  }

  .toggle-bar {
    display: block;
    position: fixed;
    top: 10px;
    left: 10px;
    background-color:#FDB833;
    color: white;
    padding: 10px 15px;
    border-radius: 0 10px 10px 0;
    cursor: pointer;
    z-index: 10001; 
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
  }

  .dropdown-toggle {
    font-size: 1.2rem;
    font-family: 'Gotham', sans-serif;
    font-weight: bold;
    color: #ffffff;
    background: none;
    border: none;
    text-align: left;
    width: 100%;
    cursor: pointer;
    padding: 10px;
    border-bottom: 1px solid #ddd;
    transition: color 0.3s ease;
  }

  .dropdown-toggle:hover {
    background: #451400; 
    transform: scale(1.05); 
  }

  .dropdown-content {
    font-family:'Gotham', sans-serif;
    padding: 10px 0;
    font-size: 0.9rem;
    color: #ffffff;
  }

  .address,
  .phone {
    margin: 5px 0;
  }

  .direction-link {
    display: inline-block;
    margin-top: 10px;
    padding: 8px 12px;
    background-color: #451400 !important;
    color: rgb(251, 251, 251);
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease, transform 0.2s ease;
  }

  .direction-link:hover {
    background-color: #451400;
    transform: scale(1.05);
  }

    .dropdown-button {
      font-size: 1rem; 
      font-family: 'Gotham', sans-serif;
      padding: 12px; 
      width: 100%; 
      text-align: center;
    }

    .dropdown-item {
      font-size: 0.8rem; 
      font-family: 'Gotham', sans-serif;
      padding: 10px; 
      color: #451400;
    }

    .action-buttons-container {
      display: none !important;
    }

    .toggle-bar {
      display: block; 
    }

    .menubackground {
      margin: 0;
      padding: 0;
      background: #e5e5e5 ; 
      height: 80%; 
    }

    .container {
      display: flex;
      flex-direction: column; 
      align-items: stretch; 
    }

    #map {
      width: 100%; 
      height: 400px;
      margin: 20px; 
      align-items: center;
      margin-top: -10px;
      margin-bottom: 40px;
      margin-left: 0px;
      margin-right: 0px;
    }

    .content-container {
      flex-direction: column; 
      align-items: stretch; 
    }

    .video-container {
      position: relative;
      height: 240px;
      overflow: hidden;
    }

    video {
      object-fit: cover; 
      width: 100%;
      height: 100%;
    }


    .video-container video {
      width: 100%;
      height: 100%;
      object-fit: cover;
      opacity: 1; 
    }
    
    @keyframes fadeIn {
      from {
        opacity: 0;
      }
      to {
        opacity: 0.85;
      }
    }

    .video-container::after {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: linear-gradient(
        to bottom,
        rgba(0, 0, 0, 0.4),
        rgba(255, 255, 255, 0.1)
      ); 
      z-index: 1; 
      pointer-events: none; 
    }

    .adressbackground, .menubackground {
      height: 100%; 
    }

    .column {
    min-width: unset; 
    }

    .address,
    .phone {
    margin: 3px 0; 
    }

    .direction-link {
    display: inline-block;
    margin-top: 8px; 
    padding: 6px 10px; 
    background-color: #565252;
    color: rgb(251, 251, 251);
    text-decoration: none;
    border-radius: 4px; 
    transition: background-color 0.2s ease, transform 0.2s ease; 
    }

    .direction-link:hover {
    background-color: #451400;
    transform: scale(1.03); 
    }
    
    .info-box, .info-box-container {
      display: none !important;
    }

    .info-text {
    display: none !important;
    }

    .sidebar {
          display: none;
      }

      .category-header {
          margin-top: 20px;
          margin-bottom: 10px;
          border-bottom: 2px solid #d26d47;
          padding-bottom: 5px;
      }

      .category-header h2 {
          font-family: 'Gotham', sans-serif;
          font-size: 1.2em;
          color: #451400;
          text-align: center;
      }

      .menu-item {
          margin-bottom: 20px;
          border-bottom: 1px solid #ccc;
          padding-bottom: 15px;
      }

      .menu-title {
        font-family: 'Gotham', sans-serif;
          display: flex;
          justify-content: space-between;
          align-items: center;
          font-size: 0.8em;
          font-weight: bold;
          color: #451400;
      }

      .menu-title .price {
          font-family: 'Gotham', sans-serif;
          font-size: 0.8rem;
          color: #a63426;
      }

      .description {
        font-family: 'Gotham', sans-serif;
          font-size: 0.95em;
          color: #555;
          line-height: 1.6;
          margin-top: 10px;
      }

      .menu-category {
        display: block!important;
      }

      .menu-category .active {
        display: none !important;
      }
     
      .overlay {
        display: flex;
        flex-direction: column;
        align-items: center; 
        justify-content: flex-start; 
        min-height: 100vh; 
        margin-top: -20px; 
      }
  
      .overlay .logo {
        width: 120px; 
        margin-bottom: 30px; 
        padding-top: 10px; 
      }
    
      .overlay .subtitle {
        font-size: 1rem;
        font-family: 'Gotham', sans-serif;
        text-align: center;
        margin-top: 10px;
        margin-bottom: 70px; 
        background: none !important;
        opacity: 1 !important;
      }

      .action-buttons-container {
        display: flex;
        flex-direction: column;
        gap: 20px;
        width: 90%;
        margin: auto; 
        margin-top: -10px; 
        padding-bottom: 10px; 
      }
  
      /* Button styling */
      .action-buttons-container .button {
        font-size: 0.9rem;
          font-family: 'Gotham', sans-serif;
        text-transform: uppercase;
        font-weight: 600;
        padding: 12px 20px;
        color: #fff;
        text-transform: uppercase;
        background-color: #BF6252 !important;
        border: none;
        border-radius: 50px;
        text-align: center;
        box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
        transition: all 0.3s ease;
      }
  
      .action-buttons-container .button:hover {
        transform: translateY(-2px);
        box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
        background: linear-gradient(135deg, #736f6d, #1a1919);
        transform: scale(1.03);
      }

      .action-buttons-container .button:active {
        transform: translateY(0); 
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
      }

      .dropdown-button[aria-expanded="true"]  {
        display: block;
      }

      .back-to-top {
        display: block; 
      }

    .top-right-logo {
      top: 6px; 
      right: 6px;
      opacity: 0.3; 
    }
  
    .top-right-logo img {
      width: 150px; 
    }
 
    .location-title,
    .content-container {
        transition: opacity 0.3s ease; 
      }
    
      .gallery-section {
        padding: 20px 10px; 
      }
    
      .gallery-title {
        font-size: 1.6rem; 
      }
    
      .gallery-description {
        font-size: 0.9rem; 
        margin-bottom: 20px;
      
      }
    
      .photo-gallery {
        height: 200px; /* Smaller height for mobile screens */
        gap: 5px; /* Reduce gap for compact look */
      }
    
      .caption {
        font-size: 0.8rem; 
        padding: 6px 0; 
      }
 
      .gallery-section {
        padding: 10px 5px; 
      }
    
      .gallery-title {
        font-size: 1.5rem; 
      }
    
      .gallery-description {
        font-size: 0.8rem; 
        line-height: 1.4;
        margin-bottom: 15px;
      }
    
      .gallery-item {
        flex: 0 0 80%; /* Increase item size for better visibility */
        max-width: 150px;
      }
    
      .gallery-item img {
        height: 100%; /* Ensure image fills the container */
        object-fit: cover;
      }
      
      .gallery-item:hover img {
        transform: scale(1.03); /* Slight zoom effect on hover */
      }

      .photo-gallery::-webkit-scrollbar {
        height: 6px;
      }
    
      .photo-gallery::-webkit-scrollbar-track {
        background: transparent; /* Hidden on smaller screens */
      }
    
      .photo-gallery::-webkit-scrollbar-thumb {
        background: #ccc;
        border-radius: 10px;
      }

      .horizontal-menu {
        display: none;
    }
    .menu-about-section {
      display: none;
    }
}

@media (max-width: 480px) {
  .photo-gallery {
    height: 150px; /* Further reduce gallery height for small screens */
  }

  .gallery-item {
    flex: 0 0 200px; /* Ensure overflow even on small devices */
    height: 150px;
  }
  
 
}